<h1>All Contacts</h1>

<h2>First Name: <%= @contacts[0].first_name %></h2>
<h2>Last Name: <%= @contacts[0].last_name %></h2>
<h2>Email: <%= @contacts[0].email %></h2>
<h2>Phone: <%= @contacts[0].phone_number %></h2>

<div>-------------------------</div>

<h2>First Name: <%= @contacts[1].first_name %></h2>
<h2>Last Name: <%= @contacts[1].last_name %></h2>
<h2>Email: <%= @contacts[1].email %></h2>
<h2>Phone: <%= @contacts[1].phone_number %></h2>

<div>-------------------------</div>

<h2>First Name: <%= @contacts[2].first_name %></h2>
<h2>Last Name: <%= @contacts[2].last_name %></h2>
<h2>Email: <%= @contacts[2].email %></h2>
<h2>Phone: <%= @contacts[2].phone_number %></h2>

<div>-------------------------</div>

<h2>First Name: <%= @contacts[3].first_name %></h2>
<h2>Last Name: <%= @contacts[3].last_name %></h2>
<h2>Email: <%= @contacts[3].email %></h2>
<h2>Phone: <%= @contacts[3].phone_number %></h2>

<div>-------------------------</div>

<h2>First Name: <%= @contacts[4].first_name %></h2>
<h2>Last Name: <%= @contacts[4].last_name %></h2>
<h2>Email: <%= @contacts[4].email %></h2>
<h2>Phone: <%= @contacts[4].phone_number %></h2>

<div>-------------------------</div>